* {

    margin: 0;
    padding: 0;
}

a {

    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

body {

    background: blue;
    align-items: center;
}

.cabecalho {
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: #23232e;    
    height: 15vh;       
}


.cabecalho-logo {

    font-size: 35pt;
    color: #fff;
}

.cabecalho-menu {

    display: flex;
    gap: 32px;
    font-size: 15pt;
}

/*    CONTEUDO    */

.pergunta {
    font-size: 25pt;    
}

.conteudo-principal {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;    
    padding: 80px;
}

.conteudo-principal-fundo {

    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    padding: 40px;    
    height:65vh;
    width: 100vh;
    border-radius: 15px;
    border: 3px solid gray;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.39);          

}

.conteudo-principal-vertical {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 15px;
    padding-top: 20px;
    gap: 70px;   
}


.conteudo-principal-horizontal {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 70px;
    padding-top: 10px;
       
    
}

.coluna {
    width: 155px;
    height: 245px;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.39);
}

.botao {
    width: 147px;
    height: 45px;
    font-size: 24pt;
    text-align: center;
    border: none;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.452);
}

.botao-aleatorio {
    width: 147px;
    height: 45px;
    font-size: 26pt;
    text-align: center;
    color: black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.39);        
}

input {
    border: 3px solid gray;
    border-radius: 20px;
}

@media screen and (max-width: 999px) {
       
    .conteudo-principal-fundo {
    
        padding: 10px;    
        height: 60vh;
        width: 90vh;
               
    
    }

    .conteudo-principal-vertical {
        
        gap: 50px;   
    }
    
    
    .conteudo-principal-horizontal {
    
        gap: 40px;
        padding-top: 10px;
           
        
    }
    
    .coluna {
        width: 135px;
        height: 205px;
        
    }
    
    .botao {
        width: 145px;
        height: 35px;
        font-size: 18pt;
        
    }
    
    .botao-aleatorio {
        width: 145px;
        height: 35px;
        font-size: 18pt;
        
            
    }

}

@media screen and (max-width: 768px) {
    .conteudo-principal-fundo {
        height: 55vh;
        width: 75vh; 
      
    }

    .conteudo-principal-vertical {
        
        gap: 25px;   
    }
    
    
    .conteudo-principal-horizontal {
    
        gap: 25px;
        padding-top: 10px;
           
        
    }
    
    .coluna {
        width: 120px;
        height: 170px;
        
    }
    
    .botao {
        width: 135px;
        height: 30px;
        font-size: 18pt;
        
    }
    
    .botao-aleatorio {
        width: 135px;
        height: 30px;
        font-size: 18pt;
        color: black;
        
            
    } 

}
